name: EKS CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and Push Docker Image
        run: |
          # Use your specific ECR Registry URL
          docker build -t 813948785595.dkr.ecr.us-east-1.amazonaws.com/blogging-site:latest .
          docker push 813948785595.dkr.ecr.us-east-1.amazonaws.com/blogging-site:latest

      - name: Update Kubeconfig
        run: |
          aws eks update-kubeconfig --region us-east-1 --name devopsshack-cluster

      - name: Deploy to EKS
        run: |
          kubectl apply -f deployment.yaml
